* {box-sizing: border-box; scroll-behavior: smooth;}
html {max-width: 100vw; display: flex; justify-content: center; width: 100%;  margin: 0; padding: 0; overflow-x: hidden; background: black;}
.bg {background: black; background-image: url('../assets/carbonfiber.jpg'); background-size: contain;}
body { display: flex; align-items: center; justify-content: center; flex-direction: column; width: 90vw; margin: 25px; display: flex; align-items: center; justify-content: center; max-width: 1400px;}
.site-container { width: 90vw; max-width: 1300px; background: white; border-top-right-radius: 5px; border-top-left-radius: 5px; }
section {width: 100%; background: white; max-width: 1300px;}
main {background: white; border-top-right-radius: 5px; border-top-left-radius: 5px;}
:root {
    --red: #A50827;
    --logored: #BF3431;
    --darkred: #AD1E29;
    --darkgray:#404040;
    --ssgray: #2e2e2e;
    --lightgray: #CCCCCC;
    --whitegray: #f2f2f2;
    --archivo: "Archivo", sans-serif!important;
    --roboto: "Roboto Condensed", sans-serif;
    
} 

.flex-center-center {display: flex; align-items: center; justify-content: center; flex:1}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end; flex:1}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start; flex:1}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1}

.flex-start-center {display: flex; align-items: flex-start; justify-content: center; flex:1}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start; flex:1;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end; flex:1;}
.flex-start-spacebetween {display: flex; align-items: start; justify-content: space-between; flex:1;}
.flex-start-spaceevenly {display: flex; align-items: start; justify-content: space-evenly; flex:1;}

.flex-end-center {display: flex; align-items: flex-end; justify-content: center; flex:1;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start; flex:1;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end; flex:1;}
.flex-end-spacebetween {display: flex; align-items: flex-end; justify-content: space-between; flex:1;}
.flex-end-spaceevenly {display: flex; align-items: flex-end; justify-content: space-evenly; flex:1;}

.no-flex-grow {flex: unset!important;}

.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap}

@media screen and (max-width: 860px) {
  .flex-break {flex-direction: column;}
  .adas-icon-bg-container {width: 100%!important;}
  .adas-icon-bg {background-position: 110% 80%!important;}
}

@media screen and (max-width: 450px){
  .bullet-point-bg {height: 60px; min-width: 62px!important; background-size: contain; margin-right: 15px;}
  .card-icon {min-width: 40px; max-width: 40px; min-height: 40px; max-height: 40px;}
}

.no-text-spacing {padding: 0; margin: 0; line-height: 0}
.basic-padding {padding: 25px;}
.padding-top-25 {padding-top: 25px;}
.padding-bottom-25 {padding-bottom: 25px;}
.padding-left-25 {padding-left: 25px;}
.padding-right-25 {padding-right: 25px;}

.double-basic-padding {padding: 50px;}
.padding-top-50 {padding-top: 50px;}
.padding-bottom-50 {padding-bottom: 50px;}
.padding-left-50 {padding-left: 50px;}
.padding-right-50 {padding-right: 50px;}

.xs-text {font-size: 12px;}
.white-text {color: white!important}
.white-text * {color: white!important;}
.red-text {color: var(--darkred)}
.black-text {color: black!important}
.centered-text {text-align: center;}
.hover:hover {cursor: pointer; transform: scale(1.05);}
.hover {cursor: pointer;}
.box-shadow {box-shadow: 2px 2px 5px rgba(0,0,0,0.25);}
.text-shadow {text-shadow: 0 0 2px rgba(0,0,0,0.5);}

.full-width {width: 100%;}


// Buttons
.sqs-block-button * {font-family: var(--roboto)!important; font-weight: 800;}
.button {background-color: var(--ssgray); color: white; text-transform: uppercase; font-size: 20px; font-family: "Archivo", sans-serif; font-weight: 500; padding: 15px 20px; text-decoration: none!important; border: 2px solid var(--ssgray); font-family: var(--roboto); letter-spacing: 1px;}
.button:hover {font-weight: 500; border: 2px solid white; cursor: pointer;}
.button a {color: inherit; text-decoration: none;}

.lightgray-button {background-color: var(--lightgray); color: black; font-size: 16px; font-family: "Archivo", sans-serif; font-weight: 300; padding: 15px 20px; text-decoration: none!important; border: unset;}
.lightgray-button:hover {cursor: pointer; font-weight: 500;}
.sqs-block-button .sqs-block-button-element--large {background-color: var(--logored); padding: 15px 20px!important; border: 2px solid var(--darkred);}

.red-button {
  background-color: var(--logored);
  padding: 15px 20px !important;
  border: 2px solid var(--darkred);
  
}

// Text Styles
h1 {font-size: 42px; font-weight: 400; line-height: 46px; font-family: "Roboto Condensed", sans-serif;}
h1 strong {font-weight: 600;}
h1 strong span {color: var(--logored)!important}
h1 span {text-decoration: none!important; color: var(--red)!important; }
h2 {font-size: 36px; font-weight: 400; line-height: 40px; font-family: "Roboto Condensed", sans-serif; margin: 10px 0; padding: 0;}
h2 strong {font-weight: 600;}
h2 span {text-decoration: unset!important; color: var(--red);}
h3 {margin: 0; padding: 0; font-size: 22px; font-weight: 200; line-height: 26px; color: var(--darkgray); font-family: "Archivo", sans-serif;}
h3 strong {font-weight: 600;}
h3 span {text-decoration: unset!important; color: var(--red);}
h4 {font-weight: 300; font-size: 22px; font-family: "Archivo", sans-serif; line-height: 28px;}
h5 {font-size: 14px; font-family: var(--archivo); font-weight: 300;}
p {font-size: 16px; color: black; font-family: "Archivo", sans-serif;}
p span {color: var(--red); text-decoration: unset!important;}
a span {color: var(--red); text-decoration: unset!important;}
a {color: inherit;}
// Mobile font styles
@media screen and (max-width: 450px) {
  h1 {font-size: 28px; line-height: 32px;}
  #heroText h1 {font-size: 28px; line-height: 32px;}
  h4 {font-size: 16px; line-height: 20px;}
}

// 

// Banner BG
.banner-bg {width: 100%; background-image: url('../assets/bg_1.png'); background-repeat: no-repeat; background-size: 100% 100%; padding: 70px 25px;}
.banner-bg-reverse {width: 100%; background-image: url('../assets/bg-reverse_1.png');  background-repeat: no-repeat; background-size: 100% 100%; padding: 70px 25px; z-index: 1;}
.banner-bg-reverse * {color: white;}
.banner-bg * {color: white;}
#Business-Educate {min-width: 100px;}
.red-bg {width: 100%; background-image: url('../assets/red-banner.png'); background-repeat: no-repeat; background-size: 100% 100%; padding: 70px 25px; color: white;}
.red-bg * {color: white!important;}
.red-banner-bg {width: 100%; background-image: url('../assets/red-adas-banner.png'); background-repeat: no-repeat; background-size: cover; padding: 70px 25px; color: white;}
.red-banner-bg * {color: white!important;}
.grid-bg {background-image: url('../assets/grid.png'); background-size: 600px 600px;}

// Page Hero 
.page-hero {min-height: 350px; width: 100%;  border-top-right-radius: 5px; border-top-left-radius: 5px; background-size: cover; background-position: center center; background-repeat: no-repeat; background-image: url('../assets/car.jpg'); }
.page-hero-content {width: 100%; min-height: 350px; height: 100%; padding: 200px 25px 25px; background: rgba(0,0,0,0.35); color: white; text-shadow: 0 0 2px rgba(0,0,0,0.5); backdrop-filter: blur(3px)}
.page-hero-content h4 {color: white!important; font-size: 18px; line-height: 24px; max-width: 500px;}

// Animations
.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}


.linear-gradient {
  background: rgb(0,0,0);
background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5382353625043768) 73%, rgba(0,0,0,0.7007003484987745) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5382353625043768) 73%, rgba(0,0,0,0.7007003484987745) 100%);
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5382353625043768) 73%, rgba(0,0,0,0.7007003484987745) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); 
}

.image-card {z-index: 2; height: 300px; border-bottom: 10px solid black; width: 100%; background-image: url('../assets/reflection.jpg'); background-size: cover; background-position: center center;}
.image-card-text {width: 100%;}

.about-intro-wrapper {padding: 25px;}
.about-intro-image-wrapper {min-width: 40vw; padding-right: 25px;}
#AboutIntro {margin-bottom: 25px;}

.sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor img {
  object-fit: cover !important;
  height: auto !important;
  width: 100% !important;
  border-radius: 5px;
  left: unset!important;
}

.sqs-gallery-block-grid .sqs-gallery-design-grid {
  margin-right: unset;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#MeetOurTeam-Description {margin-right: 25px;}
#MeetOurTeam-Video {min-width: 40vw;}

@media screen and (max-width: 1000px) {
    .about-intro-wrapper {flex-direction: column;}
    .about-intro-image-wrapper {order: 2; width: 100%; padding-right: unset!important;}
    .about-intro-text {order: 1; width: 100%; margin-bottom: 25px;}
    .about-intro-content {flex-direction: column!important;}
    #MeetOurTeam-Video {min-width: unset; width: 100%; margin-top:25px;}
    #MeetOurTeam-Description {margin-right: unset;}
}

#Consumer-Button-1, #Consumer-Button-2, #Consumer-Button-3, #Consumer-Button-4 { border: 2px solid white;}

.image-card-wide {z-index: 2; border-bottom: 10px solid black; width: 100%; background-size: cover; background-position: center center;}
.image-card-wide * {color: white;}

.small-card {border-radius: 5px; background: var(--lightgray); padding: 25px;}
.small-service-card {border-radius: 5px; background: var(--lightgray); padding: 25px; max-width: 22%; margin: 1.5%;}

.summary-card {background: #e2e2e2; padding: 15px; border-radius: 5px; min-width: 23%; max-width: 23%; margin: 1%;}
.summary-image-card {height: 250px; filter: grayscale(100%); width: 100%; margin-bottom: 10px; background-size: cover; background-repeat: no-repeat; background-position: center center;}
.summary-card:hover .summary-image-card {filter: grayscale(0%);}
.summary-card:hover {cursor: pointer; transform: scale(1.01)}

.summary-title-card  {text-decoration: unset; color: var(--darkred); line-height: 26px; font-size: 22px; font-family: "Roboto Condensed", sans-serif; font-weight: 500; text-decoration: none;}
.summary-title-card:hover  {text-decoration: underline;}
.summary-excerpt-card {font-size: 14px; font-weight: 100; line-height: 18px;}

.summary-metadata-item {text-transform: uppercase; color: black; background: var(--lightgray); padding: 2px 5px; font-size: 8px; border-radius: 2px;}
.summary-metadata-item a {color: black;}
.summary-excerpt {max-height: 75px; overflow-y: hidden;}

.glossary-card {background: #e2e2e2; padding: 15px; margin: 1% 0; border-radius: 5px; min-width: 100%!important; max-width: 100%!important; }
.glossary-card:hover {cursor: pointer; transform: scale(1.01)}

.sqs-block {padding: 0}
.adas-icon-bg { background-image: url('../assets/adas-icon-transparent.svg'); background-size: 40%; background-repeat: no-repeat; background-position: 110% 10%;}
.adas-icon-bg-container {width: 60%;}




@keyframes fadeInWithDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-delay {
  opacity: 0; /* Start invisible */
  animation: fadeInWithDelay 0.25s ease-in forwards;
  animation-delay: 0.25s; /* 0.5s delay before animation starts */
}

#Windshield-Description * {color: white!important;}

.empty {min-width: 100px;}

// Blog Post
.blog-size-paragraph {margin: 10px 0;}
.blog-size-paragraph p {font-size: 18px; line-height: 22px;}
.blog-item-tag {background: #e2e2e2; padding: 5px; border-radius: 5px; }
.blog-item-tag a {color: black; text-decoration: none; font-size: 12px;}
.blog-category-section {background: var(--logored); padding: 25px; max-width: 50vw; min-width: 400px;}

.blog-summary-card {
  background: #e2e2e2;
  padding: 15px;
  border-radius: 5px;
  margin: 2% 1%;
  width: 31%;
  min-height: 420px;
}
.blog-summary-card:hover .summary-image-card {filter: grayscale(0%);}
.blog-summary-card:hover {cursor: pointer; transform: scale(1.01)}

@media screen and (max-width: 860px) {
  .blog-summary-card {width: 48%;}
}

@media screen and (max-width: 660px) {
  .blog-summary-card {width: 100%;}
  .blog-category-section h1 {font-size: 18px;}
}

// Locations
.location-summary-card {
  background: #f2f2f2;
  border-radius: 5px;
  margin: 2% 2% 2% 0;
  width: 49%; margin-right: 1%;
  border: 1px solid var(--lightgray);
  
}
.state-image {height: 100px; margin-top: -15px; width: auto;}
.location-image-card-wrapper {background: var(--darkgray); width: 100%;  color: white; margin-bottom: 10px; padding: 0 0 0 15px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.location-image-card { width: 100%; height: 100%; }
.location-phone a{color: var(--red); font-size: 18px; text-decoration: unset; font-weight: 300;}
.location-address {padding: 0 15px;}
.location-address h3 {font-size: 16px!important; line-height: 20px; }
.location-filter-bar {background: var(--darkgray); padding: 25px;}
.location-tag {background: white; padding: 5px; border-radius: 5px; font-size: 14px; margin: 2px;}
.location-tag:hover {background: #EEF6BA; cursor: pointer;}
.location-card-summary {min-height: 140px;}
.book-button-wrapper {margin-bottom: 10px;}
.book-button {background: var(--darkgray); color: white; font-family: var(--archivo); font-size: 18px; margin: 2px 4px; border: 2px solid var(--darkgray); padding: 5px; border-radius: 5px;}
.book-button:hover {background: var(--lightgray); cursor: pointer; color: var(--darkgray)}
.contact-form-line .lightbox-handle-wrapper * {
  border: 1px solid red;
  padding: 0 !important;
  margin: 0 !important;
  background-color: unset !important;
  border: unset;
    border-top-width: unset;
    border-top-color: unset;
    border-right-width: unset;
    border-right-color: unset;
    border-bottom-width: unset;
    border-bottom-color: unset;
    border-left-width: unset;
    border-left-color: unset;
  color: var(--darkred) !important;
  font-family: var(--archivo) !important;
  letter-spacing: unset !important;
  text-transform: unset !important;
  font-size: 18px !important; font-weight: 300 !important;
}

.active-filter-tag {background: #9DBA6E; border: 2px solid black; color: black;}

@media screen and (max-width: 1200px) {
  .location-address {flex-direction: column;}
  .book-button-wrapper {margin: 5px 0; align-items: flex-start!important; justify-content: flex-start;}
}

.non-styled-link {color: inherit!important; text-decoration: unset;}

@media screen and (max-width: 660px) {
  .location-summary-card {width: 100%;}
  .location-category-section h1 {font-size: 18px; }
}

.extra-header-padding {padding-bottom: 100px!important;}

// Services / when is ADAS needed
.services-header { width: 100%; background-image: url('../assets/interior(1).png'); background-size: cover;}
.services-header-wrapper {background: rgba(173,30,41, 0.75); backdrop-filter: blur(3px); width: 100%; height: 100%; padding: 25px; margin-top: -50px;}
.services-header-title { margin-top: -65px; background: var(--darkgray); }
.services-header-title-item { padding: 15px 25px; min-width: 20vw; min-height: 75px;  margin: 1px;}
.services-header-title-item.active {background: var(--ssgray); font-weight: 900!important;}
.services-header-title-item.active h3 { font-weight: 700!important; }
.services-header-title-item h3 {color: white!important; line-height: 22px; text-align: center;}

.services-header-title-item:hover {background: var(--ssgray); cursor: pointer;}

.windshield-block {color: white; padding: 10px 25px;}
.windshield-block p {color: white!important; text-align: center;}
.windshield-block p a {color: white!important;}
.windshield-block:nth-child(1) {border-right: 1px solid white;}

.service-toggler {padding: 35px 15px 0;}
.service-toggler * {color: white;}
.calibration-block { min-width: 200px; padding: 10px; width: 200px; max-width: 200px; height: 200px;}
// .calibration-block:hover .front {
//   display: none; /* Hide front on hover */
// }

// .calibration-block:hover .back {
//   display: block!important; /* Show back on hover */
// }
.calibration-block h5 {font-size: 18px; line-height: 22px; margin: 0; color: white; font-weight: 600;}
.windshield-block h5 {font-size: 18px; line-height: 22px; margin: 0; color: white; font-weight: 600;}
.border-right {border-right: 1px solid white;}
.border-bottom {border-bottom: 1px solid white;}
.border-left {border-left: 1px solid white;}
.border-top {border-top: 1px solid white;}

.calibration-block-img {width: 75px; height: 75px; margin-bottom: 10px; background-size: contain; background-position: center; background-repeat: no-repeat;}

#Calibration-Description * {margin-top: 25px; color: white!important; min-width: 100px;}



@media screen and (max-width: 650px) {
    .services-header-title-item {padding: 10px; margin: 1px; text-align: center;}
  .services-header-title-item h3 {font-size: 18px; line-height: 20px;}
  .calibration-block {min-width: 150px;}
  .windshield-block {padding: 10px;}
  .windshield-block:nth-child(1) {border-right: unset;}
  .services-header-wrapper {padding: 5px;}
}

.contact-form-icon {width: 152px; height: 152px;}
.contact-form-icon:hover {transform: scale(1.01); cursor: point;}
.contact-form-icon #Contact-colorado-Form button {border-radius: 0; width: 150px; height: 150px; background: rgba(0,0,0,0);}
.contact-form-icon #Contact-missouri-Form button {border-radius: 0; width: 150px; height: 150px; background: rgba(0,0,0,0);}
.contact-form-icon #Contact-tennessee-Form button {border-radius: 0; width: 150px; height: 150px; background: rgba(0,0,0,0)}
.contact-form-icon #Contact-texas-Form button {border-radius: 0; width: 150px; height: 150px; background: rgba(0,0,0,0);}

.contact-form-icon-image {
  width: 150px; 
  position: absolute;
  margin-top: -150px;
  z-index: 2;
  position: relative;
 pointer-events: none;}

 #RequestAQuote button {background-color: var(--logored); padding: 15px 20px!important; border: 2px solid var(--darkred);}
 .contact-location {padding: 5px; border-top: 1px solid var(--darkred); border-bottom: 1px solid var(--darkred)}