* {box-sizing: border-box; font-family: "Roboto Condensed", sans-serif;}
html {max-width: 100vw; display: flex;
  justify-content: center; width: 100%;  margin: 0; padding: 0; overflow-x: hidden; background: black; background-image: url('../assets/carbonfiber.png'); background-size: contain; }
body { display: flex; align-items: center; justify-content: center; flex-direction: column;  border-radius: 5px; width: 90vw; margin: 25px; background-image: url('../assets/carbonfiber.png'); background-size: contain; background-attachment: fixed; background-position: center center; background-repeat: no-repeat; display: flex; align-items: center; justify-content: center; max-width: 1400px;}
.site-container {background: white; width: 90vw; border-radius: 5px; max-width: 1300px; }

:root {
    --red: #A50827;
    --darkred: #AD1E29;
    --darkgray:#404040;
    --lightgray: #CCCCCC;
    
} 

.flex-center-center {display: flex; align-items: center; justify-content: center; flex:1}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end; flex:1}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start; flex:1}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1}

.flex-start-center {display: flex; align-items: flex-start; justify-content: center; flex:1}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start; flex:1;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end; flex:1;}
.flex-start-spacebetween {display: flex; align-items: start; justify-content: space-between; flex:1;}
.flex-start-spaceevenly {display: flex; align-items: start; justify-content: space-evenly; flex:1;}

.flex-end-center {display: flex; align-items: flex-end; justify-content: center; flex:1;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start; flex:1;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end; flex:1;}
.flex-end-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1;}
.flex-end-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1;}


.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap}

.no-text-spacing {padding: 0; margin: 0; line-height: 0}
.basic-padding {padding: 25px;}
.xs-text {font-size: 12px;}
.white-text {color: white!important}
.centered-text {text-align: center;}
.hover:hover {cursor: pointer; transform: scale(1.05);}
.hover {cursor: pointer;}
.box-shadow {box-shadow: 2px 2px 5px rgba(0,0,0,0.25);}
.text-shadow {text-shadow: 0 0 2px rgba(0,0,0,0.5);}

.full-width {width: 100%;}


