* {box-sizing: border-box; }
html {max-width: 100vw; display: flex; justify-content: center; width: 100%;  margin: 0; padding: 0; overflow-x: hidden; }
.bg {background: black; background-image: url('../assets/carbonfiber.png'); background-size: contain;}
body { display: flex; align-items: center; justify-content: center; flex-direction: column; width: 90vw; margin: 25px; background-image: url('../assets/carbonfiber.png'); background-size: contain; background-attachment: fixed; background-position: center center; background-repeat: no-repeat; display: flex; align-items: center; justify-content: center; max-width: 1400px;}
.site-container { width: 90vw; max-width: 1300px; background: white; border-top-right-radius: 5px; border-top-left-radius: 5px; }
section {width: 100%; background: white; max-width: 1300px;}
main {background: white; border-top-right-radius: 5px; border-top-left-radius: 5px;}
:root {
    --red: #A50827;
    --logored: #BF3431;
    --darkred: #AD1E29;
    --darkgray:#404040;
    --lightgray: #CCCCCC;
    
} 

.flex-center-center {display: flex; align-items: center; justify-content: center; flex:1}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end; flex:1}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start; flex:1}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1}

.flex-start-center {display: flex; align-items: flex-start; justify-content: center; flex:1}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start; flex:1;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end; flex:1;}
.flex-start-spacebetween {display: flex; align-items: start; justify-content: space-between; flex:1;}
.flex-start-spaceevenly {display: flex; align-items: start; justify-content: space-evenly; flex:1;}

.flex-end-center {display: flex; align-items: flex-end; justify-content: center; flex:1;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start; flex:1;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end; flex:1;}
.flex-end-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1;}
.flex-end-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1;}


.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap}

@media screen and (max-width: 860px) {
  .flex-break {flex-direction: column;}
}

.no-text-spacing {padding: 0; margin: 0; line-height: 0}
.basic-padding {padding: 25px;}
.xs-text {font-size: 12px;}
.white-text {color: white!important}
.red-text {color: var(--darkred)}
.centered-text {text-align: center;}
.hover:hover {cursor: pointer; transform: scale(1.05);}
.hover {cursor: pointer;}
.box-shadow {box-shadow: 2px 2px 5px rgba(0,0,0,0.25);}
.text-shadow {text-shadow: 0 0 2px rgba(0,0,0,0.5);}

.full-width {width: 100%;}

// Text Styles
h1 {font-size: clamp(36px, 2vw + 1.2rem, 48px); font-weight: 400; line-height: clamp(40px, 2vw + 1.3rem, 52px); font-family: "Roboto Condensed", sans-serif;}
h1 strong {font-weight: 600;}
h1 span {text-decoration: none!important; color: var(--red)!important; }

h2 {font-size: clamp(24px, 1.5vw + 1rem, 28px); line-height: clamp(2.2rem, 1.5vw + 1.2rem, 2.7rem); font-family: "Roboto Condensed", sans-serif;}
h2 span {text-decoration: unset!important; color: var(--red);}

h3 {margin: 0; padding: 0; font-size: 24px; font-weight: 200; line-height: 32px; color: var(--darkgray); font-family: "Archivo", sans-serif;}
h3 strong {font-weight: 600;}
h3 span {text-decoration: unset!important; color: var(--red);}

h4 {font-weight: 300; font-size: 18px; font-family: "Archivo", sans-serif; line-height: 24px;}

p {font-size: 16px; color: black; font-family: "Archivo", sans-serif;}

// Banner BG
.banner-bg {width: 100%; background-image: url('../assets/bg_1.png'); background-repeat: no-repeat; background-size: 100% 100%; padding: 70px 25px;}
.banner-bg-reverse {width: 100%; background-image: url('../assets/bg-reverse_1.png');  background-repeat: no-repeat; background-size: 100% 100%; padding: 70px 25px;}
.banner-bg-reverse * {color: white;}
.banner-bg * {color: white;}
#Business-Educate {min-width: 100px;}

// Page Hero 
.page-hero {height: 350px; width: 100%;  border-top-right-radius: 5px; border-top-left-radius: 5px; background-size: cover; background-position: center center; background-repeat: no-repeat;}
.page-hero-content {width: 100%; height: 100%; padding: 200px 25px 25px; background: rgba(0,0,0,0.25); color: white; text-shadow: 0 0 2px rgba(0,0,0,0.5);}

// Animations
.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

// Cards 
.flip-card-wrapper {
  background: var(--lightgray);
  padding: 70px 25px 90px;
  margin-top: -35px;
  margin-bottom: -55px;
}

.card-icon {
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  margin: 25px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.flip-card {
  width: 100%; min-width: 200px;
  
  border-radius: 5px;
  margin: 10px;
  perspective: 300px;
  background: rgba(255,255,255,0.5);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.flip-card-front,
.flip-card-back {
  padding: 10px 25px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

@media screen and (max-width: 860px) {
  .flip-card-wrapper {
    flex-direction: column;
  }
}